<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p> <br><br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created at</th>
      <th>Type</th>
    </tr>
    </thead>
<% @users.each do |u| %>
  <tbody>
    <tr>
      <td><%= u.name.capitalize %></td>
      <td><%= u.email%></td>
      <td><%= u.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= u.level %></td>
    </tr>
  </tbody>
<% end %>
</table>
