<table class="table table-dark container col-xs-12 col-sm-8 col-md-6 col-lg-4 col-xl-4">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created at</th>
      <th>Type</th>
    </tr>
    </thead>
<% @users.each do |f| %>
  <tbody>
    <tr>
      <td><%= f.name.capitalize %></td>
      <td><%= f.email%></td>
      <td><%= l(f.created_at).first(17) %></td>
      <td><%= f.user_type %></td>
    </tr>
  </tbody>
<% end %>
</table>
